.mainbox {
    display:flex;
    flex-direction: column;
}

.resultsbox {
  border:0px solid green;
  height:300px;
}

.resultslist {
  border:0px solid red;
  width:100%
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input[type=number] {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

